<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Automated Music Tagging</title>
</head>
<center><h2>Trending</h2></center>
<body>
{% for item in t_songs %}
        <br><img src="{{ item['images']['url'] }}" width="{{ item['images']['width'] }}" height="{{ item['images']['height'] }}">
        <br>Name : {{ item['name'] }}
        <br>Artist : {{ item['artists']|join(',') }}
        <br>Album : {{ item['album'] }}
        <br>Activity : {{ item['activity_class'] }}
{% endfor %}
</body>
</html>